/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
/composer.lock

/public/uploads/aboutthelab/*
/public/uploads/arnavigation/*
/public/uploads/calendarevents/*
/public/uploads/channelsicons/*
/public/uploads/defaultimages/*
/public/uploads/helpAttachments/*
/public/uploads/icons/*
/public/uploads/ideaAttachments/*
/public/uploads/postsimages/*
/public/uploads/profilephotos/*